<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home' %}">Simple House</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:Logout' %}">logout</a>
            </li>
            {% else %}
        	<li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:sigin' %}">sigin</a>
            </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
            </li>
        {% endif %}


        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:Profile'  %}" >{{ request.user.username }}</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'order:cart'  %}" >Cart {{ car|length }}</a>
        </li>
      </ul>
      <form class="d-flex"  method="get">
          {{ search }}
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<hr>
{% if messages %}
    {% for msg in messages %}
        <p class="alert alert-{{ msg.tags }}">{{ msg }}</p>
    {% endfor %}
{% endif %}
	
